<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>학생정보입력</h1>
    <form action="/students/swrite/" name="frm" method="post">
        {% csrf_token %}
        <label>이름</label>
        <input type="text" name="name" id="name" required><br>
        <label>학과</label>
        <input type="text" name="major" id="major" required><br>
        <label>학년</label>
        <input type="text" name="grade" id="grade" required><br>
        <label>나이</label>
        <input type="text" name="age" id="age" required><br>
        <label>성별</label><br>
        <input type="radio" name="gender" id="man" value="남자" required>
        <label for="man">남자</label>
        <input type="radio" name="gender" id="woman" value="여자" required>
        <label for="woman">여자</label>
        <br>
        <input type="submit" value="저장">
        <br>

    </form>
    
</body>
</html>